@import 'tailwindcss';
@import './styles/theme.css';

@layer base {
  html {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-background text-foreground;
    width: 100%;
    height: 100%;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }
}

.lucide {
  stroke-width: 1.5;
}
